*{

}
.login{
    font-family:  Helvetica, sans-serif;
    text-align: center;
    width: 360px;
    height: 800px;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
h2{
    margin-top: 100px;
}
input{
    width: 312px;
    height: 48px;
    border: 1px solid grey;
    border-radius: 5px;
}
.login-username{
    margin-top:30px ;
}
.login-password{
    margin-top: 25px;
}
.login-forgot{
    margin-top: 10px;
}
.login-forgot-pass{
    margin-top: 100px;
    text-decoration: none;
}

.box {  
 margin-left: 23px;
 margin-top: 10px;
    width: 312px;
    height: 48px;
    border-radius: 5px;
    background-color:  #0E64D2;
    
}

.login1{
    color: aliceblue;
   padding-top: 14px;
   display: inline-block;

    
}
.login1:hover{
    color: blue;
}
.box1{
    margin-top: 10px;
}
.account{
    margin-top: 10px;
}
.login-or{
    margin-top: 15px;
}


.login-facebook{
    height: 44px;
    width: 312px;
    background-color: #1877F2;
    border-radius: 5px;
    margin-left: 23px;
}
.login-facebook1{
    color: white;
    padding-top: 13px;
}
.login-facebook-img{
    height:26px ;
    width: 26px;
    
}
.signup-social{
    padding: 10px;
    border-radius: 5px;
    width: 312px;
    height: 48px;
    color: white;
    font-weight: bold;
    border: 0px;
    background-color: #0E64D2;
    align-items: center;
    margin-top: 100px;
    
}.signup-social-1{
    padding: 10px;
    border-radius: 5px;
    width: 312px;
    height: 48px;
    color: #00000099;
    font-weight: bold;
    border: 1px solid #00000099;
    background-color: white;
    align-items: center;
    margin-top: 20px;
}
.Signup-social-icon-facebook{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color:#0E64D2;
    color: white;

    
}

.Signup-social-icon-google{
    width: 50px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    color: #0E64D2;   
}
.info{
    margin-top: 40px;
}
.info-img{


}
.info-text{
    text-align: center;
}

