@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    width: 360px;
    height: 800px;
    border: 1px solid gray;
      
}
.signup-heading{
    text-align: center;
    font-size: 24px;
    font-family: 'Poppins';
    line-height: 36px;
    font-weight: 700;
    margin-top: 110px;
}
.signup-username input{
    height: 48px; 
    width: 312px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 52px;
    margin-left: 24px;
}
.signup-email input{
    height: 48px; 
    width: 312px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 24px;
}
.signup-phone-number input{
    height: 48px; 
    width: 312px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 24px;
}
.signup-password{
    display: flex;
    align-items: center;
    position: relative;
}
.signup-password input{
    height: 48px; 
    width: 312px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 24px;
}
.signup-password img{
    height: 24px;
    width: 24px;
    position: absolute;
    right: 33px;
    top: 54%;            
}
.signup-button button{
    width: 312px;
    height: 48px;
    margin-left: 24px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #0E64D2;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 24px;

}
.signup-account{
    margin-top: 24px;
    text-align: center;
    font-weight: 520;
    font-size: 17px;

}
a{
    text-decoration: none;
}
.signup-or{
    display: flex;
    flex-direction: row;
    padding-top: 28px;

}
.line1{
    width: 139px;
    height: 1px;
   background-color:  rgba(0, 0, 0, 0.4);
   margin-left: 26px;
   margin-top: 9px;
}
.or{
    width: 17px;
    height: 21px;
    margin: 0 12px;   
}
.line2{
    width: 139px;
    height: 1px;
   background-color:  rgba(0, 0, 0, 0.4);
   margin-right: 26px;
   margin-top: 9px; 
}
.signup-login-facebook{
    width: 312px;
    height: 48px;
    background-color: #1877F2;
    text-align: center;
    border: 1px #1877F2 solid;
    border-radius: 10px;
    margin-top: 28px;
    margin-left: 24px;
    display: flex;
    align-items: center;
}
.signup-login-facebook i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    margin-left: 10px;
}
.signup-login-facebook-text{
    margin-left: 55px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.signup-login-google{
    width: 312px;
    height: 48px;
    background-color: white;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 24px;
    display: flex;
    align-items: center;
}
.signup-login-google img{
    height: 26px;
    width: 26px;
    margin-left: 10px;
}
.signup-login-google-text{
     
    margin-left: 55px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 600;
}

